<body>
	<!-- Header Starts Here ---->
	<div class="header">
		<div class="container">
			<div class="header-profile">
				<img src="../../assets/images/Sachin4.jpg" alt="Profile Picture"/>
			</div>
		</div>
	</div>
	<div class="header-top">
				<h2>Sachin Jha</h2>
				<small> Front-end Developer & UI/UX Designer <br>Pune , India</small>
	</div>
	<!-- Header Ends Here ---->
	<!--- About Me Starts Here --->
	<div class="about">
		<div class="container">
			<div class="about-top">
				<h3 class="top-title">About Me</h3>
				<span class="line"></span>
				<p class="about-p">I am a passionate individual who is always ready to grab learning opportunities, thereby up-skilling and adapting myself to the rapidly changing technology advancements. </p>
				<p>An experienced developer with a proven history of work in the front-end as well as database technologies, I am ready to try out new challenges as part of my efforts towards making a great career. </p>
				<div class="row about-row">
					<div class="col-md-4 about-row-column">
						<ul class="about-details">
							<li><p>Birthday: <span>12/07/1995</span></p></li>
							<li><p>Phone: <span>+91 8149221004</span></p></li>
							<li><p>Email:  <span><a href="mailto:jhasachin28@gmail.com">jhasachin28@gmail.com</a></span></p></li>
							<li><p>Organization: <span><a href="http://techmahindra.com">www.techmahindra.com</a></span></p></li>
							<li><p>Address: <span>Pune, India</span></p></li>
						</ul>
					</div>
					<div class="col-md-8 about-row-column">
						<h3>HOBBIES & INTERESTS</h3>
						<ul class="hoby">
							<li><i class="music"></i></li>
							<li><i class="car"></i></li>
							<li><i class="reading"></i></li>
							<li><i class="travel"></i></li>
							
						</ul>
						<a href="../../assets/documents/Resume_sachin.docx" class="download"><span></span>Download Resume</a>
						<a routerLink= "/personal-details" class="personal" ><span></span>Personal Page</a>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	<!--- About Me Ends Here --->
	<!--- Experience Starts Here --->
	<div class="experience">
		<div class="container">
			<div class="exp-top">
				<h3 class="top-title">PROFESSIONAL SUMMARY</h3>
				<span class="line"></span>
			</div>
			<div class="exp-devide">
				<h4>Experience</h4>
				<span class="devide-line">
				</span>
				<label class="bag"></label>
				<div class="exp-devide-grid-right">
					<h5>SOFTWARE ENGINEER</h5>
					<small>Tech Mahindra - 2018 . Current</small>
					<p>As a Frontend Developer, I am responsible for overall enhancement, maintenance and integration of new features in the projects. Worked on two Projects until now, delivered eye-catchy UI to the clients.</p>
				</div>
			</div>
			<div class="exp-devide education">
				<h4>Education</h4>
				<span class="devide-line">
				</span>
				<label class="book"></label>
				<div class="exp-devide-grid-left">
					<h5>BACHELORS DEGREE</h5>
					<small>Electronics and Telecommunication Engineering- 2013 . 2017</small>
					<p>Completed my Electronics and Telecommunication Engineering- from University of Pune with an aggregate of 66.3 %, throughtout first class</p>
				</div>
				<div class="exp-devide-grid-rightb">
					<h5>HIGHER SECONDARY EDUCATION</h5>
					<small>Indian Certificate of Secondary Education - Faculty of Computer Science - 2011 . 2013</small>
					<p>Completed ICSE Boards Examination in Science Stream with Computer and scored 73%</p>
				</div>
			</div>
		</div>
	</div>
	<!--- Experience Ends Here --->
	<!--- Skills Starts Here --->
	<div class="skills">
		<div class="container">
			<div class="skills-top">
				<h3 class="top-title">Technical Skills</h3>
				<span class="line"></span>
				<div class="row skill-grids text-center">
					
									<div class="col-md-3 skill-column">	
										<div class="skill-grid">
											<div class="circle" id="circles-1"></div>									
											 <h3>ANGULAR 7</h3>	
											 <p>Approx 2 years of Experience in Angular FrameWork.</p>
										 </div>								  
									</div>
									<div class="col-md-3 skill-column">	
										<div class="skill-grid">
											<div class="circle" id="circles-2"></div>									
											 <h3>JAVASCRIPT/JQUERY</h3>	
											 <p>2.5 years of Experience in JavaScript and jQuery</p>
										 </div>								  
									</div>
									<div class="col-md-3 skill-column">	
										<div class="skill-grid">
											<div class="circle" id="circles-3"></div>									
											 <h3>ADOBE XD</h3>	
											 <p>2.5 years of Experience in Designing Mockups and ProtoTypes using Adobe XD.</p>
										 </div>								  
									</div>
									<div class="col-md-3 skill-column">	
										<div class="skill-grid">
											<div class="circle" id="circles-4"></div>									
											 <h3>HTML 5/CSS 3</h3>
											 <p>2.5 years of Experience in Developing Websites using HTML/ CSS.</p>	
										 </div>								  
									</div>
									
									<div class="clearfix"> </div>
					          </div>
		</div>
	</div>
			
	</div>
	<!--- Skills Ends Here --->
	<!-- Social Media Connections ---->
	<div class="social-media">
		<div class="container">
			<div class="social-media-top">
				<h3 class="top-title">CONNECT ON SOCIAL MEDIA </h3>
				<span class="line"></span>
				<ul class="social">
					<a href= "https://facebook.com/sachin.jha1" target="blank"><li><i class="fb" ></i></a>
					
					<a href= "https://twitter.com/jhasachin28" target="blank"><li><i class="tw" ></i></a>
					
					<a href= "https://linkedin.com/in/sachin-jha-464277101/" target="blank"><li><i class="li" ></i></a>
					
					<a href= "https://github.com/jhashubham28" target="blank"><li><i class="ca" ></i></a>
					
				</ul>
			</div>
		</div>
	</div>
	<!-- Social Media Connections ---->

	
	<!--- Contact Starts Here ---->
	<div class="contact">
		<div class="container">
			<div class="contact-top">
				<h3 class="top-title">Contact Me</h3>
				<span class="line"></span>
				<p>I can be contacted from different sources apart from Social Media<br>My Details are:</p>
				<div class="row contact-row">
					<div class="col-md-4 contact-column">
						<i class="loc"></i>
						<p>Pune, Maharashtra <br> India</p>
					</div>
					<div class="col-md-4 contact-column">
						<i class="mail"></i>
						<p><a href="mailto:jhasachin28@gmail.com">jhasachin28@gmail.com</a></p>
					</div>
					<div class="col-md-4 contact-column">
						<i class="phone"></i>
						<p>+91 8149221004<br>+91 8698880717</p>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	<!--- Contact Ends Here ---->
	<!--- Footer Starts Here ---->
	<div class="footer">
		<div class="container">
			<p class="copyright">Designed By Sachin</p>
		</div>
	</div>
	<!--- Footer Ends Here ---->
</body>




