<body>
	<h1>Personal Interests</h1>
		<div class="main-agileits">
		<div class="right-wthree">
				<img src="../../assets/images/Sachin4.jpg" alt="image" />
				<h2>Sachin Jha</h2>
				<p>Frontend Developer & Pluviophile</p>
			</div>
			<div class="left-w3ls">
			<ul class="address">
                
													<li>
														<ul class="address-text">
															<li><b>HOBBY </b></li>
															<li>: Travel, Music</li>
														</ul>
													</li>
													<li>
														<ul class="address-text">
															<li><b>SPORTS</b></li>
															<li>: Cricket, Football.</li>
														</ul>
													</li>
													<li>
														<ul class="address-text">
															<li><b>EXTRA </b></li>
															<li>: Coding, Blogging</li>
														</ul>
													</li>
													<li>
														<ul class="address-text">
															<li><b>BRANDS </b></li>
															<li>: Apple, Nike</li>
                                                        </ul>
                                                        
                                                    </li>
                                                    <li>
														<ul class="address-text">
															<li><b>TRAVEL </b></li>
															<li>: Santorini, Greece</li>
                                                        </ul>
                                                        
                                                    </li>
                                                    <li>
														<ul class="address-text">
															<li><b>CLUB </b></li>
															<li>: Manchester City</li>
                                                        </ul>
                                                        
                                                    </li>
                                                    
												</ul>
				
				<div class="button">
					<a routerLink ="" class="play-icon popup-with-zoom-anim">Professional Page</a>
				</div>
						<div id="small-dialog" class="mfp-hide w3ls_small_dialog wthree_pop">		
						
					</div>

			</div>
			
			<div class="clear"></div>
		</div>
	<footer>
        <p class="agileinfo">Design by Sachin</p>
        
	</footer>
</body>
